

html, body {
    box-sizing: border-box;
  }
  
  nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
  
  .psu{
    position: relative;
    height: 32px;
     width: auto;
     top: -10px;
  }
  
  .tf{
    position: relative;
    height: 52px;
     width: auto;
  }
  
  .header{
  position: relative;
  display: flex;
  justify-content: flex-end;
  top: -24px;
  }
  
  #nav-ul {
    margin-top: 25px;
      padding: 10px;
    display: flex;
    font-family: sans-serif;
    font-weight: 300;
      list-style-type: none;
    background-color: gray;
  } 
  
  #nav-ul li {
  display: block;
    padding: 8px;
  }
  #nameNav {
      margin-top: 25px;
  }
  
  
  .nameTitle {
      text-align: center;
      font-size: 30px;
      letter-spacing: 15px;
  
      padding: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
 
  
  #about-me-link,
  #my-work-link,
  #contact-link,
  #resume-link {
      font-size: 15px;
  }
  
  .line1 {
      width: 75%;
    border: solid;
  }
  
  .line2 {
      width: 75%;
      margin-top: 50px;
      margin-bottom: 50px;
  
  }
  

  #aboutMe{
    font-size: 20px;
      letter-spacing: 5px;
    text-align: center;
  }
  
  .aboutParagraph{
    padding-left: 30px;
    padding-right: 30px;
  }
  
  #contactMe{
    font-size: 20px;
      letter-spacing: 5px;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .contact-me {
    text-align: center;
    margin-top: 25px;
      padding: 10px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-weight: 300;
      list-style-type: none;
  
  } 
  
  #workTitle{
    font-size: 20px;
      letter-spacing: 5px;
    text-align: center;
  }
  
  #projectTitle{
    font-size:15px;
      letter-spacing: 5px;
    text-align: center;
  }
  
  .projectInfo{
    margin-left: 15px;
    position: relative;
    margin-right: 15px;
    border: 2px solid;
    margin-bottom: 25px;
    width: 50%;
    float: left;
  }
  
  .projectPicture{
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .list{
    display: inline;
    text-align: center;
  }
  
  .usedSoft{
   list-style-type: none;
  }
  

  @media screen and (max-width: 414px) {
    .psu2{
        position: relative;
        height: 32px;
         width: auto;
         top: -10px;
         visibility: hidden;
      }
      
      .tf2{
        position: relative;
        height: 52px;
         width: auto;
         visibility: hidden;
      }
      .projectParagraph {
        font-size: 14px;

    }
  }

  @media screen and (min-width: 415px) {
    .psu2{
        position: relative;
        height: 82px;
         width: auto;
         top: -10px;
         visibility: visible;
         float: left;
      }
      
      .tf2{
        position: relative;
        height: 102px;
         width: auto;
         visibility: visible;
         float: right;
      }
      .projectParagraph {
        font-size: 34px;
    }
  }

  